/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-style:normal;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}

div#test {
    text-align: center;
    position: absolute;
    top: 0;
    opacity: 0.5;
}

/* micro clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {clear: both;}
.cf {*zoom: 1;}

/* --------------------------------- */


html, body {
  background-color: #eceff1;
  color: #636b6f;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  width:100%;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-github {
  position: absolute;
  right: 30px;
  top: 25px;
}

.top-github> a{
  color:#eee;
  text-decoration:none;
}



.top-right {
  position: absolute;
  right: 170px;
  top: 25px;
}

.top-right > a{
  color:#eee;
  text-decoration:none;
}


.content {
  width: 100%;
}

.title {
  height: 70px;
  width: 100%;
  background-color: #333;
  font-size: 40px;
  line-height: 70px;
  color: #eee;
  padding-left: 30px;
}


/* ---------
 */


/*
 ========================================
    ピックアップ
=========================================
*/

div#main_content {
  width: 100%;
  height: calc(100vh - 70px);
  background-color: #eee;
  display: flex;
  position: fixed;
  top: 70px;
  left: 0;
  /* background-image: url(/images/blog/top-image.jpeg);
  background-size: cover; */
}

div#main_content_left {
  width: 40%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1510&q=80);
  background-size: cover;
}

div#main_content_right {
  width: 60%;
  background-color: #eee;
}

.main_content_list {
  width: 100%;
  text-align: center;
  margin-top: 40%;
  font-size: 40px;
}


div#main_content_right ul li a {
  color: #333;
  text
}