/*
 ========================================
    Top
=========================================
*/

div#main_content {
  width: 100%;
  height: calc(100vh - 70px);
  background-color: #eee;
  display: flex;
  position: fixed;
  top: 70px;
  left: 0;
  /* background-image: url(/images/blog/top-image.jpeg);
  background-size: cover; */
}

div#main_content_left {
  width: 40%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1510&q=80);
  background-size: cover;
}

div#main_content_right {
  width: 60%;
  background-color: #eee;
}

.main_content_list {
  width: 100%;
  text-align: center;
  margin-top: 40%;
  font-size: 40px;
}


div#main_content_right ul li a {
  color: #333;
  text
}